/* фон сторінки, шрифт, колір, відступи */
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  text-align: left;
  position: relative; 
}

/* стиль для заголовків */
h1, h2, h3, h4 {
  color: #003366;
  letter-spacing: 1px;
  text-align: center;
  position: relative; 
}

/* стиль для посилань між вкладками */
a {
  color: #5a51d6;
  text-decoration: none;
}

/*посилання  */
a[href^="http"] {
  color: red !important;
  font-weight: bold;
}

/* список з квадратиками, фон, відступи */
ul {
  list-style-type: square;
  background-color: #bcdafa;
  padding: 10px;
  border-radius: 8px;
  position: relative; 
}

ol {
  list-style-type: upper-roman;
  background-color: #bff8bf;
  padding: 10px;
  border-radius: 8px;
}


table {
  width: 90%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin: 20px auto;
}

th, td {
  border: 1px solid #a3a3a3;
  padding: 12px;
  text-align: center;
}

/* стиль для заголовків таблиці */
th {
  background-color: #e7d5df;
  font-weight: bold;
}
.paragraph {
  font-size: 30px;
  color: #532121;
  text-align: justify;
}
/* ідентифікатор для заголовка контактної сторінки */
#contact-title {
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #070066;
  border-radius: 8px;
  font-size: 26px;
}
